<% include partials/header %>

<h1>This is the homepage</h1>
<img src="https://d7hftxdivxxvm.cloudfront.net/?resize_to=fit&width=450&height=300&quality=80&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2FGmJPbsPjMk3B4vLAoIc7fg%2Flarge.jpg">

<% include partials/footer %>